<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>ua.zuiev.web.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenreServlet</servlet-name>
        <servlet-class>ua.zuiev.web.GenreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>ua.zuiev.web.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>ua.zuiev.web.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>ua.zuiev.web.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginationServlet</servlet-name>
        <servlet-class>ua.zuiev.web.PaginationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorGenreServle</servlet-name>
        <servlet-class>ua.zuiev.web.AuthorGenreServle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecieverServlet</servlet-name>
        <servlet-class>ua.zuiev.web.RecieverServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenreServlet</servlet-name>
        <url-pattern>/GenreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginationServlet</servlet-name>
        <url-pattern>/PaginationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorGenreServle</servlet-name>
        <url-pattern>/AuthorGenreServle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecieverServlet</servlet-name>
        <url-pattern>/RecieverServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <display-name>header_and_footer</display-name>
            <url-pattern>/pages/*</url-pattern>
            <include-prelude>/jspf/header.jspf</include-prelude>
            <include-coda>/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    <resource-ref>
        <res-ref-name>jdbc/Library</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <resource-ref>
        <res-ref-name>jdbc/Library_2</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
